.brands {
    padding: 40px 0;
    background: rgba(255, 251, 246, 1);
}
/* #app {
    height: 100%;
}
.swiper {
    width: 100%;
    height: 100%;
} */
.mySwiperBrand .swiper-slide {
    /* text-align: center;
    font-size: 14px; */
    /* background: #080808; */
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 7px;
}

.mySwiperBrand .swiper-pagination-bullet-active {
    background: rgba(187, 107, 30, 1);
}
